/* media query for above 1366px css starts */
@media screen and (min-width: 1367px) {
    .header-section,.aboutUs-section,.footer-section,.services-section,.industries-section{
        max-width: 1366px !important;
        display: block !important;
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .contentLayout-section{
        margin-top:60px !important;
    }
    .bannerItem{
        height:685px !important;
    }
}
/* media query for above 1366px css ends */
/* media query for ipad pro portrait mode css starts */
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation:portrait) {
   
}
/* media query for ipad pro portrait mode css ends */
/* media query for ipad landscape mode css starts */
@media screen and (max-width: 1024px) and (orientation:landscape) {

}
/* media query for ipad landscape mode css ends */
/* media query for ipad portrait mode css starts */
@media screen and (max-width: 1023px) {
    .mobilemenu{
        display: block !important;
    }
    .headings{
        display: none !important;
    }
    .upArrowBtn {
        right: 5px !important;
    }
}
/* media query for ipad portrait mode css ends */
/* media query for mobile devices css starts */
@media screen and (max-width: 767px) {
    .iframeWidth{
        width: 100% !important;
       height:315px !important;
       margin-bottom:15px !important;
    }
    .bannerItem{
        height:186px !important;
    }
    .footerLayout-section{
        height:80px !important;
    }
    .footer-panel{
        height:80px !important;
        line-height: unset !important;
    }
    .footer-panel p{
        margin:0px !important;
    }
}
/* media query for mobile devices css ends */
/* media query for extra small devices css starts */
@media screen and (max-width: 320px) {
    .iframeWidth{
        width: 100% !important;
       height:315px !important;
       margin-bottom:15px !important;
    }
    .bannerItem{
        height:186px !important;
    }
}
/* media query for extra small devices css ends */