<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2">Customers List</h2>
  <a
    
    class="btn btn-success"
    *ngIf="hideWhenNoStudent"
  >
    Add Student
  </a>
</div>
<div class="pricing-header mx-auto">
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No student" />
  </div>
  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-student.svg" class="nodata-msg" alt="No student" />
    <p class="nodata-msg">No student added yet!</p>
    <a routerLink="/register-student" class="btn btn-success"> Add Student </a>
  </div>
  <div class="table-responsive" *ngIf="hideWhenNoStudent">
    <table
      class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
    >
      <thead>
        <tr>
          <th scope="col">Customer Id</th>
          <th scope="col">Student name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile number</th>
          <th scope="col">Description</th>
          <th class="text-center" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let customer of Customer;
            let i = index
          "
        >
          <th scope="row">{{ customer.$key }}</th>
          <td>{{ customer.firstName }} {{ customer.lastName }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.mobileNumber }}</td>
          <td>{{ customer.description }}</td>
          <td class="text-center action-block">
            <span
              class="mr-2 btn btn-outline-primary btn-sm"
              >Edit</span
            >
            <span
              class="btn btn-outline-danger btn-sm"
              (click)="deleteStudent(customer)"
              >Delete</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
</div>