<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left expertise-section mb-20">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 pt-10 pb-10 commonStyle float-left expertise-panel textCenter mt-25 mb-25">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseHeader-section">
                <h2 class="f-32 headingLevel2 ">Technology Expertise</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseData-section mt-20">
               
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left expertiseItem-section mt-25 mb-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItem-panel">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemImage-section">
                                <img src="assets/images/html.png" class="exterpertiseImage htmlImg" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemData-section">
                                <p class="mb-15 mt-10">HTML5</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left expertiseItem-section mt-25 mb-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItem-panel">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemImage-section">
                                <img src="assets/images/CSS3.png" class="exterpertiseImage" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemData-section">
                                <p class="mb-15 mt-10">CSS3</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left expertiseItem-section mt-25 mb-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItem-panel">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemImage-section">
                                <img src="assets/images/javascript-.png" class="exterpertiseImage" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemData-section">
                                <p class="mb-15 mt-10">Javascript</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left expertiseItem-section mt-25 mb-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItem-panel">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemImage-section">
                                <img src="assets/images/node-js.png" class="exterpertiseImage" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemData-section">
                                <p class="mb-15 mt-10">Node.js</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left expertiseItem-section mt-25 mb-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItem-panel">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemImage-section">
                                <img src="assets/images/mongodb.png" class="exterpertiseImage" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemData-section">
                                <p class="mb-15 mt-10">MongoDB</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left expertiseItem-section mt-25 mb-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItem-panel">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemImage-section">
                                <img src="assets/images/angular.png" class="exterpertiseImage" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemData-section">
                                <p class="mb-15 mt-10">Angular</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left expertiseItem-section mt-25 mb-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItem-panel">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemImage-section">
                                <img src="assets/images/react.png" class="exterpertiseImage" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemData-section">
                                <p class="mb-15 mt-10">React js</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left expertiseItem-section mt-25 mb-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItem-panel">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemImage-section">
                                <img src="assets/images/python.png" class="exterpertiseImage" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left expertiseItemData-section">
                                <p class="mb-15 mt-10">Python</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
