<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left aboutUs-section ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left aboutUs-panel textCenter mt-25 mb-25">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left overflowHidden aboutUsHeader-section">
            <h2 class="f-32 mb-20 headingLevel2 animated " [ngClass]="commonService.aboutusAnimation?'fadeInUp delay1sec':''">About Us</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left aboutUsData-section mt-20 overflowHidden" >
            <p class=" animated " [ngClass]="commonService.aboutusAnimation?'fadeInUp delay2sec':''">TECHBRAINS INNOVATIVE SOLUTIONS PRIVATE LIMITED is a Information and Technology based company working towards excellence in the Computers, and believe in pursuing business through innovation and technology. Our team comes with several years of industry experience, and comprise of a highly motivated set of specialists. We are a experienced, dedicated and energetic team, cognizant of the market and our customer's requirements.</p>
        </div>
    </div>
</div> -->
<!--Start About-->
<section class="about-agency pad-tb">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 v-center">
    <div class="image-block">
    <img src="assets/theme/images/about/about-image.png" alt="about" class="img-fluid no-shadow" />
    </div>
    </div>
    <div class="col-lg-6">
    <div class="common-heading text-l">
    <span>We Are Creative Agency</span>
    <h2>About Agency</h2>
    <p class=" animated " [ngClass]="commonService.aboutusAnimation?'fadeInUp delay2sec':''">TECHBRAINS INNOVATIVE SOLUTIONS PRIVATE LIMITED is a Information and Technology based company working towards excellence in the Computers, and believe in pursuing business through innovation and technology. Our team comes with several years of industry experience, and comprise of a highly motivated set of specialists. We are a experienced, dedicated and energetic team, cognizant of the market and our customer's requirements. </p>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!--End About-->