<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left aboutUs-section ">
    <div
        class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left aboutUs-panel textCenter mt-25 mb-25">
        <div
            class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left overflowHidden aboutUsHeader-section">
            <h2 class="f-32 mb-20 headingLevel2 animated "
                [ngClass]="commonService.aboutusAnimation?'fadeInUp delay1sec':''">About Us</h2>
        </div>
        <div
            class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left aboutUsData-section mt-20 overflowHidden">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img [ngClass]="commonService.aboutusAnimation?'fadeInUp delay2sec':''"
                        src="assets/images/about_tbis.png" alt="about us">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 content-sec">
                    <p class="p-tag animated " [ngClass]="commonService.aboutusAnimation?'fadeInUp delay2sec':''">
                        <strong>TECHBRAINS INNOVATIVE SOLUTIONS Pvt.Ltd</strong> is a Information and Technology based
                        company working towards excellence in the Computers, and believe in pursuing business through
                        innovation and technology. Our team comes with several years of industry experience, and
                        comprise of a highly motivated set of specialists. We are a experienced, dedicated and energetic
                        team, cognizant of the market and our customer's requirements.
                    </p>
                    <div class="animated abt-us-btn" [ngClass]="commonService.aboutusAnimation?'fadeInUp delay2sec':''">
                        <div class="free-abt-us-title content-center">
                            <p><span>We Promise.</span> <span>We Deliver.</span></p>
                            <a class="btn-main-abt-us abt-btn lnk" (click)="getWatsup()">Let's Work Together<i
                                    class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--End About-->