<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left industries-section  ">
   <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left industries-panel textCenter mt-25 mb-25">
       <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left industriesHeader-section overflowHidden">
           <h2 class="f-32 mb-20 headingLevel2 animated" [ngClass]="commonService.industriesAnimation?'fadeInUp delay1sec':''">Industries</h2>
       </div>
       <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left industriesData-section mt-20">
           <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay0sec':''">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                       <div class="commonStyle float-left industriesDataIcon-panel">
                           <div class="iconCircle">
                               <img src="assets/icons/agriculture.png" />
                           </div>
                       </div>
                       <div class="commonStyle float-left industriesItemData-section">
                           <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Agriculture</p>
                       </div>
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                      <p class="text-left">Our experts design and develop custom solutions for efficient collaboration across agribusiness operations. We develop custom agriculture and farming software solutions to enhance a business's agri-marketing capabilities. </p>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay1sec':''">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                       <div class="commonStyle float-left industriesDataIcon-panel">
                           <div class="iconCircle">
                                <img src="assets/icons/shopping.png" />
                           </div>
                       </div>
                       <div class="commonStyle float-left industriesItemData-section">
                           <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Retail</p>
                       </div>
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                       <p class="text-left">Our experts design and develop custom solutions for efficient collaboration across  Retail Industry Sector.
                           We providing E-Commerce Services and Product development in Retail Industry Sector.</p>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay2sec':''">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                       <div class="commonStyle float-left industriesDataIcon-panel">
                           <div class="iconCircle">
                               <img src="assets/icons/bank.png" />
                           </div>
                       </div>
                       <div class="commonStyle float-left industriesItemData-section">
                           <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Financial</p>
                       </div>
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                      <p class="text-left">The Financial industry is experiencing a wave of digital disruptions that are reforming the whole sphere.
                           Bank institutions have come to realize that outsourcing of FinTech development products is more cost-effective than developing in-house Solutions.
                            <!-- That is why we are targeted at partnering with FinTech Software development Companies to provide effective Solutions to their end client. -->
                           </p>
                       
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay3sec':''">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                       <div class="commonStyle float-left industriesDataIcon-panel">
                           <div class="iconCircle">
                               <img src="assets/icons/healthcare.png" />
                           </div>
                       </div>
                       <div class="commonStyle float-left industriesItemData-section">
                           <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Health care</p>
                       </div>
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                       <!-- <img src="assets/images/healthcare.jpg" /> -->
                       <p class="text-left">The healthcare industry has historically been on the back seat to adapt to any changes,
                           The arrival of technologies (AR/VR, AI, Blockchain, IoT) in the medical field is proving to be quite advantageous for the,
                            patients along with the medical service providers. </p>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay4sec':''">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                       <div class="commonStyle float-left industriesDataIcon-panel">
                           <div class="iconCircle">
                                <img src="assets/icons/book.png" />
                           </div>
                       </div>
                       <div class="commonStyle float-left industriesItemData-section">
                           <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Education</p>
                       </div>
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                       <!-- <img src="assets/images/eduOnine.jpg" />  -->
                       <p class="text-left">The Education industry is going through radical changes,
                           The ever-increasing popularity of mobile devices, easy internet access, and social networking has provided a great opportunity to the Education industry for content delivery in the digital form</p>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay5sec':''">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner ">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                       <div class="commonStyle float-left industriesDataIcon-panel">
                           <div class="iconCircle">
                               <img src="assets/icons/manufacture.png" />
                           </div>
                       </div>
                       <div class="commonStyle float-left industriesItemData-section">
                           <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Manufacture</p>
                       </div>
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                       <img src="" alt="manfacturing"/>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay5sec':''">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner ">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                       <div class="commonStyle float-left industriesDataIcon-panel">
                         <div class="iconCircle">
                           <img src="assets/icons/real-estate.png" />
                         </div>
                       </div>
                       <div class="commonStyle float-left industriesItemData-section">
                           <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Real estate</p>
                       </div>
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                       <!-- <img src="assets/images/real-estate.jpg" /> -->
                       <p class="text-left">The Real Estate Industry ,We provide extensive expertise and innovative solutions in the field of Real Estate to enhance buyers and agents relationships, as well as to increase higher productivity and cost savings.
                          </p>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay5sec':''">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner ">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                       <div class="commonStyle float-left industriesDataIcon-panel">
                           <div class="iconCircle">
                               <img src="assets/icons/entertainment.png" />
                           </div>
                       </div>
                       <div class="commonStyle float-left industriesItemData-section">
                           <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Media & Entertainment</p>
                       </div>
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                       <!-- <img src="assets/images/entertainment.jpg" /> -->
                       <p class="text-left">The Media & Entertainment Industry from advertising, broadcasting and digital media, to entertainment. Providing in-depth, immediate business insight,giving you the right tools and information to enhance business performance and explore new business models.</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
