<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left industries-section ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left industries-panel textCenter mt-25 mb-25">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left industriesHeader-section overflowHidden">
                <h2 class="f-32 mb-20 headingLevel2 animated" [ngClass]="commonService.industriesAnimation?'fadeInUp delay1sec':''">Industries</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left industriesData-section mt-20">
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay0sec':''">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                            <div class="commonStyle float-left industriesDataIcon-panel">
                                <div class="iconCircle">
                                    <img src="assets/icons/agriculture.png" />
                                </div>
                            </div>
                            <div class="commonStyle float-left industriesItemData-section">
                                <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Agriculture</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                            <img src="assets/images/agriculture.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay1sec':''">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                            <div class="commonStyle float-left industriesDataIcon-panel">
                                <div class="iconCircle">
                                     <img src="assets/icons/shopping.png" />
                                </div>
                            </div>
                            <div class="commonStyle float-left industriesItemData-section">
                                <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Retail</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                            <img src="assets/images/ecommerce-graphic.png" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay2sec':''">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                            <div class="commonStyle float-left industriesDataIcon-panel">
                                <div class="iconCircle">
                                    <img src="assets/icons/bank.png" />
                                </div>
                            </div>
                            <div class="commonStyle float-left industriesItemData-section">
                                <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Financial</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                            <img src="assets/images/financial.jpg" />
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay3sec':''">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                            <div class="commonStyle float-left industriesDataIcon-panel">
                                <div class="iconCircle">
                                    <img src="assets/icons/healthcare.png" />
                                </div>
                            </div>
                            <div class="commonStyle float-left industriesItemData-section">
                                <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Health care</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                            <img src="assets/images/healthcare.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay4sec':''">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                            <div class="commonStyle float-left industriesDataIcon-panel">
                                <div class="iconCircle">
                                     <img src="assets/icons/book.png" />
                                </div>
                            </div>
                            <div class="commonStyle float-left industriesItemData-section">
                                <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Education</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                            <img src="assets/images/eduOnine.jpg" /> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay5sec':''">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner ">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                            <div class="commonStyle float-left industriesDataIcon-panel">
                                <div class="iconCircle">
                                    <img src="assets/icons/manufacture.png" />
                                </div>
                            </div>
                            <div class="commonStyle float-left industriesItemData-section">
                                <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Manufacture</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                            <img src="assets/images/manufacturing.png" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay5sec':''">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner ">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                            <div class="commonStyle float-left industriesDataIcon-panel">
                              <div class="iconCircle">
                                <img src="assets/icons/real-estate.png" />
                              </div>
                            </div>
                            <div class="commonStyle float-left industriesItemData-section">
                                <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Real estate</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                            <img src="assets/images/real-estate.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-25 commonStyle float-left industriesDataItem-panel mb-25 flip-box animated" [ngClass]="commonService.industriesAnimation?'fadeIn animationDelay5sec':''">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle pl-0 pr-0 float-left industriesDataItem flip-box-inner ">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-front pl-0 pr-0">
                            <div class="commonStyle float-left industriesDataIcon-panel">
                                <div class="iconCircle">
                                    <img src="assets/icons/entertainment.png" />
                                </div>
                            </div>
                            <div class="commonStyle float-left industriesItemData-section">
                                <p class="f-20 mb-10 mt-10 servicesItemDataTitle">Media & Entertainment</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left flip-box-back pl-10 pr-10 pt-10 pb-10">
                            <img src="assets/images/entertainment.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    