<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left aboutUs-section ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left aboutUs-panel textCenter mt-25 mb-25">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left aboutUsHeader-section">
            <h2 class="f-32 mb-20 headingLevel2 animated">Sample</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left aboutUsData-section animated" >
            <div class="sampleItem-section">
                <div class="sampleItem-panel">
                    <div class="sampleItemIcon-panel">
                        <i class="far fa-clock"></i>
                    </div>

                    <span class="connecterLine"></span>
                   <img src="assets/images/hook.png" class="hook"/> 
                    <div class="sampleItemData-panel">
                        <span class="holder"></span> 
                        <div class="sampleItemData">
                            <p>header</p>
                            <p>header Data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    