<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left header-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left header-panel">
        <div class="commonStyle float-left headerLeft-panel">
            <img src='assets/images/logo.png' class="companyLogo float-left" />
            <h1 class="companyName float-left" >Techbrains Innovative Solutions</h1>
            <!-- Techbrains Innovative solutions -->
        </div>
        <div class=" commonStyle float-right headerRight-panel">
            <ul class="menuList">
                <li *ngFor="let menuItem of menuList;let i=index" [ngClass]="{'activeMenu': commonService.selectedMenuItem==menuItem.name}" (click)="gotoContent(menuItem.name)">{{menuItem.name}}</li>
            </ul>
        </div>
    </div>
</div>
