.companyLogo{
    height:50px;
    width: 60px;
}
.header-panel{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.headerLeft-panel{
    display: inline-flex;
    align-items: center;
}
.companyLogo{
    width: 60px;
    height: 50px;
}
.companyName{
    font-size: 20px;
    margin: 0px;
}
.menuList{
    display: inline-block;
    float: left;
    width: auto;
    position: relative;
    margin: 0px;
}
.menuList li{
    position: relative;
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
}
.headerRight-panel{
    line-height: 60px;
}
.activeMenu{
    color: blue;
}

//lakshmi.............

.mobilemenu{
    display: none ;
}
.headings{
    display: block ;
}
.mobphne{
    top: 60px;
    position: fixed;
    padding: 20px;
    right: 0;
    float: right;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    height:100%;

}
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
  .list-none{
list-style: none;
  }
  .mobphne li{
      padding:10px 0px;
      cursor: pointer;
  }