<!--Start contact us Form-->
<section class="contact-page pad-tb bg-clr">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 contact-section">
                <div class="info-sec">
                    <h2 class="mb-4">Get in touch us</h2>
                    <div class="divbox d-flex align-items-start">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fas fa-map-marker"></i>
                        </div>
                        <div class="text">
                            <p><span><strong>Address:</strong></span>#26,1st street Kaveri Nagar Road B-Block, Andhra
                                Pradesh,524004</p>
                        </div>
                    </div>
                    <div class="divbox d-flex align-items-start">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <div class="text">
                            <p><span><strong>Phone:</strong></span> <a href="tel://+918618309754">+91-8618309754</a></p>
                        </div>
                    </div>
                    <div class="divbox d-flex align-items-start">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="text">
                            <p><span><strong>Email:</strong></span> <a
                                    href="mailto:info@techbrainsinnovative.com">info@techbrainsinnovative.com</a></p>
                        </div>
                    </div>
                    <div class="divbox d-flex align-items-start">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="text">
                            <p><span><strong>Website</strong></span> <a href="#">www.techbrainsinnovative.com</a></p>
                        </div>
                    </div>
                    <div class="social-icons">
                        <!-- Whatsapp -->
                        <a class="btn btn-primary" style="background-color: #25d366;"
                            href="https://wa.me/message/CC5BX3AT7G4EE1" target="_blank" role="button"><i
                                class="fab fa-whatsapp"></i></a>
                        <!-- Facebook -->
                        <a class="btn btn-primary" style="background-color: #3b5998;"
                            href="https://www.facebook.com/TechbrainsInnovativeSolutions/" target="_blank"
                            role="button"><i class="fab fa-facebook-f"></i></a>
                        <!-- Instagram -->
                        <a class="btn btn-primary"
                            style=" background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);"
                            href="https://www.instagram.com/invites/contact/?i=1g8y64k2fs9v5&utm_content=m4qrno3"
                            target="_blank" role="button"><i class="fab fa-instagram"></i></a>
                        <!-- Youtube -->
                        <a class="btn btn-primary" style="background-color: #ed302f;"
                            href="https://www.youtube.com/channel/UCa0Y9GN1lFmNCmoej_AhOig" target="_blank"
                            role="button"><i class="fab fa-youtube"></i></a>
                        <!-- Linkedin -->
                        <a class="btn btn-primary" style="background-color: #0082ca;"
                            href="https://www.linkedin.com/company/techbrains-innovative-solutions-pvt-ltd/"
                            target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                </div>

            </div>


            <div class="col-lg-7 m-mt30 pr30 pl30">
                <div class="common-heading text-l">
                    <h2 class="mt0 mb0">Contact us</h2>
                    <p class="mb60 mt10">We will catch you as early as we receive the message</p>
                </div>
                <div class="form-block-section">
                    <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()" novalidate>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" id="name" placeholder="Enter name" formControlName="name" />

                                <div class="help-block with-errors">
                                    <!-- errors-->
                                    <p *ngIf="contactForm.controls.name.touched && contactForm.controls.name.invalid"
                                        class="error">
                                        <sup>*</sup>Please enter atleast name
                                    </p>
                                    <p *ngIf="contactForm.controls.name.errors?.['minlength']" class="error">
                                        <sup>*</sup>Name shouldn't be less than 2 words
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="email" id="email" placeholder="Enter email" formControlName="email" />
                                <div class="help-block with-errors">
                                    <!-- errors-->
                                    <p *ngIf="contactForm.controls.email.touched && contactForm.controls.email.invalid"
                                        class="error">
                                        <sup>*</sup>Please provide email.
                                    </p>
                                    <p *ngIf="contactForm.controls.email.errors?.['pattern']" class="error">
                                        <sup>*</sup>Please enter correct email.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" id="mobile" placeholder="Enter mobile"
                                    formControlName="mobileNumber" />
                                <div class="help-block with-errors">
                                    <!-- errors-->
                                    <p *ngIf="contactForm.controls.mobileNumber.touched && contactForm.controls.mobileNumber.invalid"
                                        class="error">
                                        <sup>*</sup>Please provide contact number.
                                    </p>
                                    <p *ngIf="contactForm.controls.mobileNumber.errors?.['pattern']" class="error">
                                        <sup>*</sup>Use numbers only number.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <select name="Dtype" id="Dtype" formControlName="requirement">
                                    <option value="">Select Requirement</option>
                                    <option value="web">web application</option>
                                    <option value="mobile">mobile application</option>
                                    <option value="crm">CRM app</option>
                                    <option value="qa">QA</option>
                                    <option value="support">Support</option>
                                </select>
                                <div class="help-block with-errors">
                                    <!-- errors-->
                                    <p *ngIf="contactForm.controls.requirement.touched && contactForm.controls.requirement.invalid"
                                        class="error">
                                        <sup>*</sup>Please choose your requirement.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea id="message" rows="5" placeholder="Enter your message"
                                formControlName="description"></textarea>
                            <div class="help-block with-errors">
                                <!-- errors-->
                                <p *ngIf="contactForm.controls.description.touched && contactForm.controls.description.invalid"
                                    class="error">
                                    <sup>*</sup>Please write your description.
                                </p>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1"
                                checked="false">
                            <label class="custom-control-label" for="customCheck">I agree to the <a
                                    href="javascript:void(0)">Terms &amp; Conditions</a> of Techbrains Innovative
                                Solutions.</label>
                        </div>
                        <button type="button" id="form-submit" class="btn btn-primary btn-block"
                            [disabled]="!contactForm.valid" (click)="submitContactForm()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Start Location-->
    <div class="container-fluid mt-15 bg-clr">

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="map-section">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1366.1877533781328!2d79.93257912289963!3d14.417794318237902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2389d4041489b6cf!2sTechbrains%20Innovative%20Solutions%20PVT%20LTD!5e0!3m2!1sen!2sin!4v1657815619539!5m2!1sen!2sin"
                        allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>


    </div>
    <!--End Location-->
</section>
<!--End  contact us Form-->