<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left contact-section ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left contact-panel textCenter mt-25 mb-25">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left contactHeader-section">
            <h2 class="f-32 mb-20 headingLevel2 ">Get In Touch With Us</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left contactData-section mt-20">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left contactLeftData-section">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left contactLeftMap-section">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
                        <agm-marker 
                            *ngFor="let m of markers; let i = index"
                            (markerClick)="clickedMarker(m.label, i)"
                            [latitude]="m.lat"
                            [longitude]="m.lng"
                            [iconUrl]='{"url": m.label,"scaledSize": {"height": 30, "width": 30}}'
                            [markerDraggable]="m.draggable"
                            (dragEnd)="markerDragEnd(m, $event)">
                          <agm-info-window>
                            <strong>
                                    #26,b-block,1st street,kaveri nagar,kottur rural,nellore,A.P
                            </strong>
                          </agm-info-window>
                        </agm-marker>
                      </agm-map>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left contactRightData-section">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left contactRightForm-section">
                    <div class="form-group">
                        <!-- <label for="email">Email address:</label> -->
                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email"  placeholder="Email Id">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="phoneNo"  placeholder="Phone No">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="message" placeholder="Message">
                    </div>
                    <div class="form-group">
                        <button class="submitBtn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

