<div class="container first-sec">
<div class="row align-center">
<div  class="col-md-6 col-lg-6 col-xl-6 col-sm-6"  style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInLeft;">

	<h1 >We help you to boost your business</h1>

	
<div class="btn-div">
	<button class="case_studies_btn" (click)="getWatsup()">Develop your idea with us</button>
</div>
</div>
<div class="col-md-6 col-lg-6 col-xl-6 col-sm-6">
	<img src="assets/images/creative_team_tbis.gif" alt="build your idea with us" >
	<!-- <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="[first, second, third]">
		<div *nguCarouselDef="let item;" class="item">
			<div class="tile">
				<ng-container *ngTemplateOutlet="item"></ng-container>
			</div>
		</div>
	
		<ng-template #first>
			<div class="firstBanner-panel bannerItem">
				<img src="assets/images/software-solution-banner.jpg" class="banner1Img"/>
				<div>
					<button> case study</button>
				</div>
			</div>
		</ng-template>
	
		<ng-template #second>
			<div class="secondBanner-panel bannerItem">
				<img src="assets/images/399.jpg" class="banner2Img"/>
			</div>
		</ng-template>
	
		<ng-template #third>
			<div class="thirdBanner-panel bannerItem">
				<img src="assets/images/floating.gif" class="banner3Img"/>
			</div>
		</ng-template>
		<ul class="myPoint carouselPoints" NguCarouselPoint>
			<li *ngFor="let j of myCarousel.pointNumbers; let k = index" [class.active]="k==myCarousel.activePoint" (click)="myCarousel.moveTo(k)"></li>
		</ul>
	</ngu-carousel> -->
</div>
</div>
</div>


<!-- <div>
	<img class="img" src="assets/images/399.jpg" alt="app development"/>
</div> -->