<!-- <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="[first, second, third]">
	<div *nguCarouselDef="let item;" class="item">
		<div class="tile">
			<ng-container *ngTemplateOutlet="item"></ng-container>
		</div>
	</div>

	<ng-template #first>
		<div class="firstBanner-panel bannerItem">
            <img src="assets/images/software-solution-banner.jpg" class="banner1Img"/>
        </div>
	</ng-template>

	<ng-template #second>
        <div class="secondBanner-panel bannerItem">
            <img src="assets/images/brand.jpeg" class="banner2Img"/>
        </div>
	</ng-template>

	<ng-template #third>
        <div class="thirdBanner-panel bannerItem">
            <img src="assets/images/floating.gif" class="banner3Img"/>
        </div>
	</ng-template>
	<ul class="myPoint carouselPoints" NguCarouselPoint>
        <li *ngFor="let j of myCarousel.pointNumbers; let k = index" [class.active]="k==myCarousel.activePoint" (click)="myCarousel.moveTo(k)"></li>
    </ul>
</ngu-carousel> -->
<!--Start Hero-->
<div class="container-fluid">

<section class="hero-card-web bg-gradient12 shape-bg3">
	<div class="hero-main-rp container-fluid">
	   <div class="row">
		  <div class="col-lg-3">
			 <div class="hero-heading-sec">
				<h2 class="wow fadeIn" data-wow-delay="0.3s"><span>Web.</span> <span>Mobile.</span> <span>Graphic.</span> <span>Marketing.</span></h2>
				<p class="wow fadeIn" data-wow-delay="0.6s">Website and App development solution for transforming and innovating businesses.</p>
				<a class="niwax-btn2 wow fadeIn"  data-wow-delay="0.8s">View Case Studies <i class="fas fa-chevron-right fa-ani"></i></a>
				
			 </div>
		  </div>
		  <div class="col-lg-9">
			 <div class="hero-content-sec wow fadeIn" data-wow-delay="0.8s">
				<div class="video-intro-pp"><a class="video-link play-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8?autoplay=1&amp;rel=0"><span class="triangle-play"></span></a></div>
				<div class="title-hero-oth">
				   <p>We design digital solutions <span>for brands and companies</span></p>
				</div>
			 </div>
			 <div class="hero-right-scmm">
				<div class="hero-service-cards wow fadeInRight" data-wow-duration="2s">
				   <div class=" service-card-prb">
					<ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="[first, second, third , four , five ,six]">
						<div *nguCarouselDef="let item;" class="item">
							<div class="tile">
								<ng-container *ngTemplateOutlet="item"></ng-container>
							</div>
						</div>
						<ng-template #first>
							<div class="service-slide card-bg-c" data-tilt data-tilt-max="10" data-tilt-speed="1000">
								<a >
								   <div class="service-card-hh">
									  <div class="image-sr-mm">
										 <img alt="custom-sport" src="assets/theme/images/service/startup.png">
									  </div>
									  <div class="title-serv-c"><span>Startup</span> Solution</div>
								   </div>
								</a>
							 </div>
							
						</ng-template>
						<ng-template #second>
							<div class="service-slide card-bg-b" data-tilt data-tilt-max="10" data-tilt-speed="1000">
								<a >
								   <div class="service-card-hh">
									  <div class="image-sr-mm">
										 <img alt="custom-sport" src="assets/theme/images/service/app-develop.png">
									  </div>
									  <div class="title-serv-c"><span>Custom</span> App Solution</div>
								   </div>
								</a>
							 </div>
						</ng-template>
						<ng-template #third>
							<div class="service-slide card-bg-a" data-tilt data-tilt-max="10" data-tilt-speed="1000">
								<a >
								   <div class="service-card-hh">
									  <div class="image-sr-mm">
										 <img alt="custom-sport" src="assets/theme/images/service/vr.png">
									  </div>
									  <div class="title-serv-c"><span>VR</span> Solution</div>
								   </div>
								</a>
							 </div>
						</ng-template>
						<ng-template #four>
							<div class="service-slide card-bg-d" data-tilt data-tilt-max="10" data-tilt-speed="1000">
								<a >
								   <div class="service-card-hh">
									  <div class="image-sr-mm">
										 <img alt="custom-sport" src="assets/theme/images/service/car-rental.png">
									  </div>
									  <div class="title-serv-c"><span>Car</span> Rental Solution</div>
								   </div>
								</a>
							 </div>
						</ng-template>
						<ng-template #five>
							<div class="service-slide card-bg-e" data-tilt data-tilt-max="10" data-tilt-speed="1000">
								<a >
								   <div class="service-card-hh">
									  <div class="image-sr-mm">
										 <img alt="custom-sport" src="assets/theme/images/service/marketing.png">
									  </div>
									  <div class="title-serv-c"><span>Marketing</span> Solution</div>
								   </div>
								</a>
							 </div>
						</ng-template>
						<ng-template #six>
						 <div class="service-slide card-bg-f" data-tilt data-tilt-max="10" data-tilt-speed="1000">
							<a >
							   <div class="service-card-hh">
								  <div class="image-sr-mm">
									 <img alt="custom-sport" src="assets/theme/images/service/ewallet.png">
								  </div>
								  <div class="title-serv-c"><span>e-Wallet</span> Solution</div>
							   </div>
							</a>
						 </div>
						</ng-template>
						<ul class="myPoint carouselPoints" NguCarouselPoint>
							<li *ngFor="let j of myCarousel.pointNumbers; let k = index" [class.active]="k==myCarousel.activePoint" (click)="myCarousel.moveTo(k)"></li>
						</ul>
					</ngu-carousel>
					  
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	</div>
 </section>
 
</div>
 <!--End Hero-->