
<div [ngClass]="commonService.servicesAnimation?'fadeInUp delay1sec':''">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left services-section ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left services-panel textCenter mt-25 mb-25">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left servicesHeader-section  overflowHidden">
                <!-- <h2 class="f-32 mb-20 headingLevel2 animated" [ngClass]="commonService.servicesAnimation?'fadeInUp delay1sec':''">Services We Offer</h2> -->
                     <div class="common-heading">
                       <span>Services We're Provided</span>
                       <h2 class="f-32 mb30 animated" >Our Design & Development Services</h2>
                     </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left servicesData-section mt-20" >
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec1':''">
                        <div class="commonStyle float-left servicesDataIcon-panel">
                           <img class="iconCls" src="assets/icons/008-development.png">
                        </div>
                        <div class="commonStyle float-left servicesItemData-section">
                            <p class="f-18 servicesItemDataTitle bold">Appliction development</p>
                            <!-- <button class="btn btn-info text-white">VIEW MORE</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec2':''">
                        <div class="commonStyle float-left servicesDataIcon-panel">
                            <img class="iconCls" src="assets/icons/042-ui design.png">
                            
                        </div>
                        <div class="commonStyle float-left servicesItemData-section">
                            <p class="f-18 servicesItemDataTitle bold">UX/UI Development</p>
                            <!-- <button class="btn btn-info text-white">VIEW MORE</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec3':''">
                        <div class="commonStyle float-left servicesDataIcon-panel">
                            <img class="iconCls" src="assets/icons/047-profile.png">
                        </div>
                        <div class="commonStyle float-left servicesItemData-section">
                            <p class="f-18 servicesItemDataTitle bold">Mobile Application Development</p>
                            <!-- <button class="btn btn-info text-white">VIEW MORE</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec4':''">
                        <div class="commonStyle float-left servicesDataIcon-panel">
                            <img class="iconCls" src="assets/icons/online-support.png">
                        </div>
                        <div class="commonStyle float-left servicesItemData-section">
                            <p class="f-18 servicesItemDataTitle bold">Product Maintenance & Support</p>
                            <!-- <button class="btn btn-info text-white">VIEW MORE</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec5':''">
                        <div class="commonStyle float-left servicesDataIcon-panel">
                            <img class="iconCls" src="assets/icons/029-bug.png">
                        </div>
                        <div class="commonStyle float-left servicesItemData-section">
                            <p class="f-18 servicesItemDataTitle bold">Testing & QA</p>
                            <!-- <button class="btn btn-info text-white">VIEW MORE</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec6':''">
                        <div class="commonStyle float-left servicesDataIcon-panel">
                            <img class="iconCls" src="assets/icons/smarthome.png">
                        </div>
                        <div class="commonStyle float-left servicesItemData-section">
                            <p class="f-18 servicesItemDataTitle bold">IOT Development & Services</p>
                            <!-- <button class="btn btn-info text-white">VIEW MORE</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec6':''">
                        <div class="commonStyle float-left servicesDataIcon-panel">
                            <img class="iconCls" src="assets/icons/040-web development.png">
                        </div>
                        <div class="commonStyle float-left servicesItemData-section">
                            <p class="f-18 servicesItemDataTitle bold">Third party API Integrations</p>
                            <!-- <button class="btn btn-info text-white">VIEW MORE</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec6':''">
                        <div class="commonStyle float-left servicesDataIcon-panel">
                            <img class="iconCls" src="assets/icons/team.png">
                        </div>
                        <div class="commonStyle float-left servicesItemData-section">
                            <p class="f-18 servicesItemDataTitle bold">Consulting & Outsourcing</p>
                            <!-- <button class="btn btn-info text-white">VIEW MORE</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>