<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left services-section ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left services-panel textCenter mt-25 mb-25">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left servicesHeader-section  overflowHidden">
            <h2 class="f-32 mb-20 headingLevel2 animated" [ngClass]="commonService.servicesAnimation?'fadeInUp delay1sec':''">Services We Offer</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left servicesData-section mt-20" >
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec1':''">
                    <div class="commonStyle float-left servicesDataIcon-panel">
                        <i class="far fa-clock f-32"></i>
                    </div>
                    <div class="commonStyle float-left servicesItemData-section">
                        <p class="f-18 servicesItemDataTitle bold">Cloud Service</p>
                        <p>View more</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec2':''">
                    <div class="commonStyle float-left servicesDataIcon-panel">
                        <i class="far fa-clock f-32"></i>
                    </div>
                    <div class="commonStyle float-left servicesItemData-section">
                        <p class="f-18 servicesItemDataTitle bold">Application Development</p>
                        <p>View more</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec3':''">
                    <div class="commonStyle float-left servicesDataIcon-panel">
                        <i class="far fa-clock f-32"></i>
                    </div>
                    <div class="commonStyle float-left servicesItemData-section">
                        <p class="f-18 servicesItemDataTitle bold">Application Development</p>
                        <p>View more</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec4':''">
                    <div class="commonStyle float-left servicesDataIcon-panel">
                        <i class="far fa-clock f-32"></i>
                    </div>
                    <div class="commonStyle float-left servicesItemData-section">
                        <p class="f-18 servicesItemDataTitle bold">Application Development</p>
                        <p>View more</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec5':''">
                    <div class="commonStyle float-left servicesDataIcon-panel">
                        <i class="far fa-clock f-32"></i>
                    </div>
                    <div class="commonStyle float-left servicesItemData-section">
                        <p class="f-18 servicesItemDataTitle bold">Application Development</p>
                        <p>View more</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 pl-0 pr-20 commonStyle float-left servicesDataItem-panel mb-20  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 commonStyle float-left servicesDataItem animated" [ngClass]="commonService.servicesAnimation?'rotateInDownLeft sec6':''">
                    <div class="commonStyle float-left servicesDataIcon-panel">
                        <i class="far fa-clock f-32"></i>
                    </div>
                    <div class="commonStyle float-left servicesItemData-section">
                        <p class="f-18 servicesItemDataTitle bold">Application Development</p>
                        <p>View more</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
