<div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0 commonStyle float-left footer-section">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-20 pr-20 commonStyle float-left footer-panel">
            <div class="commonStyle float-left footerLeft-panel">
                <p class="float-left textCenter" >Copyright 2019 All Right Reserved By www.techbrainsinnovativesolutions.com</p>
                <!-- Techbrains Innovative solutions -->
            </div>
            
        </div>
    </div>
    