/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: muli-regular;
    src: url("assets/fonts/muli/Muli.ttf") format("truetype");
}
body{
    font-family: muli-regular;
}