/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: muli-regular;
    src: url("assets/fonts/muli/Muli.ttf") format("truetype");
}
@font-face {
    font-family: muli-bold;
    src: url("assets/fonts/muli/Muli-Bold.ttf") format("truetype");
}
@font-face {
    font-family: muli-light;
    src: url("assets/fonts/muli/Muli Light.ttf") format("truetype");
}
body{
    font-family: muli-regular;
}
.animated{
    
    animation-fill-mode: both;
}

.iconCls{
width:130px;
height:130px;
}